@import '../../styles/colors';

.home {
    min-height: 100%;
}

// ——————————————
// Sections
// ——————————————

.hookSection,
.listSection {
    border-bottom: 1px solid $hrColor;
    box-sizing: border-box;
}

// === List Sections ===

.listSection {
    padding: 47.5px 0 55px;
    // padding: 70px 0 75px;

    .sectionHeader h3 {
        display: inline-block;
        padding: 0;
        margin-block-start: 0;
        margin-block-end: 40px;
    }

    ul.contentList {
        position: relative;
        margin: 0;
        padding: 0 0 0 25px;
        list-style: none;
        & > li::before {
            content: '▸';
            font-size: 16px;
            line-height: 1.7;
            position: absolute;
            left: 9px;
            padding-top: 10px;

            transition: font-size 0.06667s, line-height 0.06667s, left 0.06667s;
        }

        & > li:hover::before {
            font-size: 22.5px;
            line-height: 1.1;
            left: 4px;
        }

        & > li {
            margin-block-start: 20px;
            margin-block-end: 20px;
        }

        // List-items only have margins between one another.
        & > li:first-child {
            margin-block-start: 0px;
            &::before {
                padding-top: 0px;
            }
            & > div {
                padding-top: 0px;
            }
        }
        & > li:last-child {
            margin-block-end: 0px;
            & > div {
                padding-bottom: 0px;
            }
        }
    }
}

// Desktop: Adopt a 2-column layout, with header on left, content on right.
@media (min-width: 992px) {
    .listSection {
        padding: 75px 0 76.25px;

        display: flex;
        flex-direction: row;

        & > .sectionHeader {
            width: 153.25px;
            text-align: right;
            padding-right: 22px;
            h3 {
                font-size: 20.8px;
                line-height: 1.35;
            }
        }

        & > .sectionContent {
            flex-grow: 1;
        }
    }
}

// ——————————————
// Hook
// ——————————————

.hookSection {
    border-top: 1px solid $hrColor;
    padding: 45px 0;

    .blurb h2 {
        margin: 0;
        //        padding-block-end: 20px;
        padding-block-end: 30px;

        transform: scale(1, 1.018);
        letter-spacing: -0.019em;
        font-size: 23.4px;
        font-weight: 400;
    }

    .blurb p {
        margin: 0;
        // padding-block-end: 25px;
        padding-block-end: 30px;

        font-size: 16.9px;
        font-weight: 400;
        line-height: 1.525;

        ._smaller {
            font-size: 16.6px;
        }

        br {
            display: block;
            content: '';
            border-bottom: 8px solid transparent;
        }
    }

    .resumeButtonWrapper {
        display: inline-block;
    }
}

// Mobile: Change sizing.
@media (max-width: 767px) {
    .hookSection .blurb {
        text-align: center;
    }
    .hookSection .resumeButtonWrapper {
        display: flex;
        justify-content: center;
    }

    .hookSection .blurb h2 {
        font-size: 21px;
    }

    .hookSection .blurb p {
        font-size: 15.55px;
        font-weight: 400;

        ._smaller {
            font-size: 15.35px;
        }
    }
}

// Tablet: no changes.

// Desktop: Move button to right.
@media (min-width: 992px) {
    .hookSection {
        // padding: 45px 0 47.5px;
        padding: 52.5px 0 55px;

        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;

        .blurb h2 {
            font-size: 25.2px;
        }
        .blurb p {
            transform: scale(1, 1.015);
            padding-block-end: 0;

            font-size: 17.6px;
            font-weight: 500;
            letter-spacing: -0.003em;

            ._smaller {
                font-size: 16.6px;
            }
        }

        ._divider {
            width: 6.3333%;
        }

        .resumeButtonWrapper {
            display: flex;
            align-items: center;
        }
    }
}

// ——————————————
// Experience
// ——————————————

.listSection .workItem {
    & > div {
        padding: 10px 10px 10px 5px; // 5px left padding
    }

    .workDetails {
        display: flex;
        // margin-bottom: 3.25px;
        margin-bottom: 5px;
    }

    .workItemHeader {
        font-size: 19.4px;
        letter-spacing: -0.015em;
        font-weight: 600;
        &.secondaryWorkHeader {
            font-size: 18.7px;
            font-weight: 500;
        }
    }

    // .workDates snaps to right.
    .workDates {
        order: 2;
        margin-left: auto;
        padding-left: 7.5px;

        font-size: 15.2px;
        letter-spacing: -0.008em;

        display: flex;
        align-items: center;

        & > span {
            display: inline-block;
        }

        .workDateTo {
            margin: 0 8px;
        }
    }

    .workCompanyName {
        font-size: 16.6px;
        // margin-bottom: 5.3333px;
        margin-bottom: 6.33333px;
    }

    .workBlurb {
        margin-block-start: 5.3333px;
        margin-block-end: 5.3333px;

        color: $subtextColor;
        font-size: 14.9px;
        letter-spacing: -0.008em;
        line-height: 1.625;
    }
}

// Mobile: Change font sizes.
@media (max-width: 767px) {
    .listSection .workItem {
        .workItemHeader {
            font-size: 18.2px;
            &.secondaryWorkHeader {
                font-size: 17.6px;
            }
        }

        .workDates {
            font-size: 13.8px;
            letter-spacing: 0.001em;
            .workDateTo {
                margin: 0 6px;
            }
        }
    }
}

// ——————————————
// Work/Projects
// ——————————————

// Custom spacing.
@media (min-width: 992px) {
    .listSection.projectListSection {
        padding: 65px 0 72.5px;
    }
}

// Tweak for Project section: increase margin between list items.
.listSection ul.projectList li {
    margin-block-start: 25px;
    margin-block-end: 25px;

    &::before {
        padding-top: 15px;
    }
    &:hover::before {
        line-height: 1.07;
    }
}

.listSection .projectItem {
    // Padding.
    & > div {
        padding: 15px 10px 15px 5px;
    }

    .projectBanner {
        display: flex;
        flex-direction: row;
        align-items: center;

        margin-bottom: 17.5px;

        & .projectTitle {
            font-size: 20.3px;
            letter-spacing: -0.015em;
            font-weight: 600;
            line-height: 1.45;

            position: relative;
            box-sizing: border-box;

            // Link icon.
            &.projectTitleWithLink > span:first-child {
                opacity: 0.2;
                transition: opacity 0.05s;

                position: absolute;
                margin-left: 4.75px;
                top: 1.25px;
                line-height: 1;

                height: 100%;
            }
        }
    }
    // Link icon.
    &:hover .projectBanner .projectTitleWithLink > span:first-child {
        opacity: 0.375;
    }
    .projectBanner .projectTitleWithLink:hover:not(:active) {
        & > span:first-child {
            opacity: 0.9;
        }
    }

    // Project context snaps to right.
    .projectBanner .projectContext {
        order: 2;
        margin-left: auto;

        color: rgba($textColor, 0.75);
        font-size: 14.25px;
        font-weight: 500;
        letter-spacing: -0.009em;
        font-style: italic;
        line-height: 1.4;

        transform: scale(1, 1.04);

        box-sizing: border-box;
        // border: 1px solid grey;
        border-radius: 3px;
        padding: 2px 10px;
    }

    .projectBlurbWrapper p {
        margin: 12.5px 0;
        font-size: 16.25px;
        line-height: 1.6825;
    }

    ul.projectTags {
        margin-top: 20.5px;
        list-style: none;
        padding: 0;

        cursor: default;

        & > li {
            display: inline-flex;
            margin: 4.25px 4.825px;
            // padding: 2px 12.75px;
            padding: 4.25px 15.5px;
            border-radius: 2.75px;

            color: $itemText;
            background: $itemBackground;

            // font-size: 13.625px;
            font-size: 13.25px;
            letter-spacing: 0.002em;

            transition: background 0.1s;
            &:hover {
                background: $itemBackgroundHover;
            }
        }
    }
}

// ——————————————
// Footer
// ——————————————

.footer {
    padding: 25px 0 30px;

    color: $subtextColor;
    font-size: 13.625px;
    font-weight: 500;
    letter-spacing: -0.002em;

    p.footerRow {
        text-align: center;
        margin-block-start: 13.75px;
        margin-block-end: 13.75px;
    }

    ul.footerMediaList {
        list-style: none;
        margin-top: 29.5px;
        padding: 0;

        display: flex;
        justify-content: center;

        & > li {
            display: inline-flex;
            margin: 0 7.5px;

            opacity: 0.6;
            transition: opacity 0.05s;
            &:hover:not(:active) {
                opacity: 1;
            }
        }
    }
}

@media (min-width: 768px) {
    .footer {
        padding: 35px 0 42.5px;
    }
}
