@import 'colors';

$fontStack: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

body {
    padding: 0;
    margin: 0;
    background: $globalBackground;

    font-family: $fontStack;
    font-weight: 400;
    font-size: 14.5px;
    line-height: 1.5;
    letter-spacing: -0.012em;
    color: $textColor;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
    height: 100%;

    padding: 35px 60px;

    // Mobile: Smaller padding.
    @media (max-width: 767px) {
        padding: 20px 25px;
    }
}

// ——————————————————————————————————————————

// .navLink {
//     font-size: 30px;
// }

// .oops {
//     background: yellow;
// }
