@import 'colors';

$fontStack: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

body {
    padding: 0;
    margin: 0;
    background: $globalBackground;

    font-family: $fontStack;
    font-weight: 400;
    font-size: 14.5px;
    line-height: 1.5;
    letter-spacing: -0.012em;
    color: $textColor;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5 {
    color: $headerColor;
    font-weight: 800;
    letter-spacing: -0.016em;
    line-height: 1.5;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
    height: 100%;

    // padding: 35px 60px;
    // padding: 35px 47.5px;
    // padding-bottom: 0;

    // // Mobile: Eliminate side padding; .container solely pads document.
    // @media (max-width: 767px) {
    // padding: 20px 0;
    // }
}

// ——————————————————————————————————————————

h3 {
    font-size: 21.6px;
    letter-spacing: -0.019em;
    margin-block-start: 10px;
    margin-block-end: 10px;
}
