a {
    color: inherit;
    text-decoration: none;
    &:visited {
        color: inherit;
    }
}

// ——————————————
// Containers
// ——————————————

// Mobile.
@media (max-width: 767px) {
    .container {
        padding: 0 25px;
        max-width: 100%;
    }
}

// Tablet/desktop: 90%.
@media (min-width: 768px) {
    .container {
        width: 90%;
    }
}

@media (min-width: 933px) {
    .container {
        width: 830px;
    }
}
