a {
    color: inherit;
    text-decoration: none;
    &:visited {
        color: inherit;
    }
}

// ——————————————
// Containers
// ——————————————

// Mobile.
@media (max-width: 767px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
}

// Tablet/desktop: 90%.
@media (min-width: 768px) {
    .container {
        width: 90%;
    }
}

@media (min-width: 933px) {
    .container {
        width: 840px;
    }
}
